.edit-bus-form {
    .form-edit {
      text-align: center;
  
      .ant-form-item {
        margin-top: 5px;
        margin-bottom: 5px;
  
        i {
          color: rgba(0, 0, 0, 0.25);
        }
      }
  
      .btn-submit {
        width: 100%;
      }
    }
  }


//..............................................responsive...........................................


.navbarContenido {
  display: flex;
  justify-content: center ;
  text-align: center;
  align-items: center;
  padding: 1%;
}

.switchContenido {
  display: flex;
  padding: 0px 20px;
}

.BuscadorContenido{
  padding: 5px 10px;
  text-align: center;
  width: 50%;
  margin:auto;

}

.BuscadorContenido1{
  padding: 5px 10px;
  text-align: center;
  width: 100%;
  margin:auto;
}

.BuscadorContenido2{
  text-align: center;
  width: 95%;
  margin:auto;
}


@media screen and (max-width: 800px) {
  .navbarContenido {   
    flex-direction: column;
  }

  .BuscadorContenido{
    padding: 5px 10px;
    text-align: center;
    width: 100%;
  }  

  .BuscadorContenido1{
    padding: 5px 10px;
    text-align: center;
    width: 100%;
  }

  .BuscadorContenido2{
    text-align: center;
    width: 95%;
  }
  
  
  .BuscadorBContenido{
    width: 100%;
  }

  .GaficoContenido{
    width: 100%;
  }
}