
#MisionVision {
    background-color: snow;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
    position: relative;
    height: 800px;
    text-align: center;
    
 }
 
 #MisionVision a, #MisionVision a:visited  { color: #11ABB0; }
 #MisionVision a:hover, #MisionVision a:focus { color: #313131; }
 
 #MisionVision h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    justify-content: center;
    padding: 20px;
    letter-spacing: 1px;
    margin-left: 100px;
    margin-right: 100px;
 }
 #MisionVision h1 span {
    border-bottom: 3px solid #11ABB0;
    justify-content: center;
    padding: 20px;
    padding-bottom: 6px;
 }
 #MisionVision h3 {
    font: 25px/30px 'opensans-bold', sans-serif;
 }
 
 #MisionVision .header-col { padding-top: 9px; }
 #MisionVision .main-col { padding-right: 10%; }
 
 #MisionVision .info {
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
 }
 #MisionVision .info span {
    margin-right: 5px;
    margin-left: 5px;
 }
 
 